@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque Light'), local('Brandon-Grotesque-Light'),
        url('https://github.com/DMSISTEMAS/img/blob/master/BrandonGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }